/* Default global styles */
* {
    box-sizing: border-box;
}

h1 {
    border-radius: 15px;
    width: 100%;
    display: block;
    background: #395D93;
    padding: .75em 1em .75em 1.5em;
    margin: 0;
    color: #EBEBEB;
}

input {
    display: block;
    margin: auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    transition: 0.3s;
}
/* End default global styles*/
/* Specific styles */
.center-content {
    margin: auto;
    width: 50%;
    padding: 10px;
}
/* end specific styles */
/* Form styles throughout the app*/
form {
    display: block;
    width: 100%;
    padding: 2em;
}

form>button {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

form>input {
    border: none;
    border-bottom: 1px solid #282C34;
    outline: none;
}

/* button:hover {
    color: #fff;
    background-color: #6855e0;
} */

.login-button {
    color: #6855e0;
    background-color: #fff;
    border: 1px solid #6855e0;
    box-shadow: 0 0 5px #6855e066;
}

.login-button:hover {
    color: #fff;
    background-color: #6855e0cc;
}

.register-button {
    color: #fff;
    background-color: #33b249;
    box-shadow: 0 0 5px #33b24966;
}

.register-button:hover {
    color: #fff;
    background-color: #33b249cc;
}

.below-forms {
    text-align: center;
}

.below-forms>button {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* End button styles*/



/* Container styles for top of pages*/
.container {
    display: flex;
    justify-content: space-between;
}

.logged-user {
    /*display: inline-block;*/
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600;
    flex: 1;
}

.display-date {
    /*display: inline-block;*/
    text-align: right;
    font-size: 1.6rem;
    font-weight: 600;
    flex: 1;
}
/* End container styles*/



/* Navigation bar class styles!*/
.navbar {
    background-color: 333;
    display: flex;
}

.nav-link {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
    flex: 1;
}

.nav-link:hover {
    background-color: #555;
}

/* End navigation bar styles*/